.errorImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.errorImageContainer img {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.jumbotron {
    background-image: url("https://media.istockphoto.com/id/1339997523/it/foto/oggetto-della-casa-e-mani-delluomo-con-lente-dingrandimento-su-tavolo-in-legno-naturale.jpg?s=1024x1024&w=is&k=20&c=nYGnI6mvWsFf-hWPYI14O-yAoa7QSY2vQXUId1GXi84=");
    background-size: cover;
    background-position: center;
    height: 500px;
    aspect-ratio: 16;
}