/* Stili CSS Modules del componente SingleApartment */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Testo nome recensore */
.text-name {
    font-style: italic;
}

/* Ombra nella card */
#idcards {
    box-shadow: 3px 5px 15px 1px #ccc;
}

/* Sfondo alternato delle recensioni */
.review-alternate-color {
    background-color: #f1f3f4;
}

/* Css per l'overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.overlay-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.textSend:hover {
    color: black;
}

#likeButton:hover {
    box-shadow: rgb(220, 53, 69);
    transform: scale(1);
    animation: pulse 2s infinite;
}

#likeButton {
    height: 30px;
    width: 60px;
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
    }

    70% {
        transform: scale(1.15);
        box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
    }
}